*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-image: url(imgs/Bg\ header.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
}


html{
    scroll-behavior:smooth;
    overflow-x: hidden;
 
}


