*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    list-style: none;
}

/*Celular*/
@media (max-width: 1024px){

   
    header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    header ul li {
        padding: 0.3rem;
    }
    p{
        width: 100vw;
        text-align: center;
        padding: 1rem;
    }
    .conteiner {
        background-color: #000000;
        flex-direction: column;
    }
    
    
    .sobre .projetos, .habilidades, .contato {
    
        width: 100vw;
        padding: 10px;
    
    }
    .sobre h2{
         width: 100vw;
        text-align: center;
    }

}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px){
    
}

html {
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
  
}   
