header{
    position: absolute;
    width: 100%;
    display: flex;
    background: transparent; 
    justify-content: center;  
    z-index: 1;
    align-content: center;
    padding-block: 5px;
}  

.gitbutton {
  width: 7rem;
  height: 2rem;
  background: var(--bg-gradiente2);
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #000000c8;
  transition: 0.3s;
  position: relative;
}

.gitbutton:hover{
    background: var(--bg-gradiente2i);
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(1.3);
    
}
.navbar{
    justify-content: space-between;
    width: 70%;
    display: flex;
    align-items: center;
    max-width: 800px;
    background: #ffffff12;
    padding: 5px 20px;
    border-radius: 20px;

}

.navbar li {
    list-style: none;
    display: inline-block;
}
   
.linksnav a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1rem;
    transition: 0.3s;
    position: relative;
}
    
.linksnav a:hover{
    color: var(--a-color);
}

.linksnav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}

.linksnav a:hover::after {
  width: 100%;
}