header{
    position: absolute;
    width: 100%;
    display: flex;
    background: transparent; 
    align-items: center;
    justify-content: center;  
    z-index: 1;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.286);
    padding: 2rem 3rem;
   
}  
 header::after {
  content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 3px;
    opacity: 30%;
    margin-bottom: 10px;
    background: var(--bg-gradiente2);
}

.logoN {
  width: 50px;
  height: 50px;
  background: var(--bg-gradiente2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
}

.logoN:hover{
    transform: scale(1.2) rotate(180deg);
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(1.3);
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    display: flex;
    align-items: center;
    max-width: 1500px;
 
}

nav li {
    list-style: none;
    display: inline-block;
}
   
.linksnav a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1rem;
    transition: 0.3s;
    position: relative;
}
    
.linksnav a:hover{
    color: var(--a-color);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor; /* usa a cor do próprio link */
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}