.sobre{
    padding: 3rem;
    background-color:  #010b19;
}
.sobre h2 {
    color: white;
    font-size: 3rem;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 700;    
    text-align: center; 
    padding: 20px;
}
.sobre p{
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    
}

.wave{
    width: 100%;
}

.projetosTitle{
    align-items: center;
    text-align: center; 
    padding: 20px;
}

.projetosTitle h2{
    font-size: 3rem;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 700;    
}

.projetosTitle p{
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    margin-inline: 5rem;
}

.conteiner{
    background-color: dddcdc;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    gap: 5rem;
}

.projeto1{
    width: 20rem;
    height: 25rem;
    text-align: center;
    border-radius: 2%; 
    background-color: #fdfdfd;
    box-shadow: 0px 1px 30px 1px #010b1985;
    overflow: hidden; 
   
}
.projeto1:hover{
    box-shadow: 10px 10px 10px white;
}
.projeto1 h2{
    font-size: 2rem;
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    text-align: left;
    padding: 1rem;
    margin-inline: 1rem;
    
}
.projeto1 p{
    font-size: 70%;
    font-family: sans-serif;
    text-align: left;
    padding: 1rem;
    margin-inline: 1rem;
}

.projeto1 img{
    border-radius: 2%;
    margin-top: 9px;
    width: 90%;
    transition: transform 0.5s ease;
    cursor: pointer;

}

.projeto1 img:hover{
    transform: scale(1.11);
    
}