/* Tablet */
@media (max-width: 768px) {

  /* --- Hero --- */
  .headerdiv {
    width: 90%;
    }

  h1 {
    line-height: 0.9;
    }
 /* --- Cards Section Sobre --- */
  .tituloSobre{
    flex-wrap: wrap;
    }
   .fotoperfil{
        width: 50%;
    }
  /* --- Cards Section Projetos --- */
  
    .conteinerprojetos {
        justify-content: center;
        width: 100%;
    }

    .cards {
        flex: 1 1 100%;
        width: 100%;
        height: auto;
    
    }
   
    .fotodiv{
        content: url(imgs/cordel3.png);
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.8);
    
    }
     .info h2{
        font-size: 1rem;
    }

    .info{
        font-size: 0.8rem;
    }
    
}

 /*Mobile*/ 
@media (max-width: 414px){ 
   
    /*---Section Hero---*/

    .hero{
        align-items: start;
        padding-top: 5rem;
        
    }
    
    .linksnav{
        display: flex;
        flex-direction: column;
    }
    .headerdiv{
        width: 80%;
    }
    h1{
        font-size: 3.5rem;
    }
    .subtitulo{
        font-size: 1.5rem;
    }
    .decricao{
        font-size: 0.8rem;
    }
    .bt1{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    .bt2{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
    /*---Section Sobre---*/
    .fotoperfil{
        width: 0;
    }
    .tituloSobre p{
        text-align: center;
    }

     /*---Section Projetos---*/
     .fotodiv{
        content: url(imgs/cordel.png);
        height: 100%;
        width: 100%;
        object-fit: cover
    }

    .cardsh{
        width: 8rem;
    }

    /*---Section footer---*/

    .info h2{
        font-size: 1rem;
    }

    .info{
        font-size: 0.6rem;
    }
    
}


