.rodape{
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;    /* Opcional: centraliza os itens horizontalmente */
    gap: 1rem;              /* Opcional: adiciona um espaço entre os itens */
    
    padding: 5% 2rem;      /* Simplificando o padding */
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.rodape a{
 color: white;
 text-decoration: none;
}

.icons{
    align-items: center;
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    
    
}

.icongit{
    width: 50px;
    fill: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.iconwhats{
    width: 35px;
    transition: 0.3s ease;
}

.icongit:hover{
transform: scale(1.2);
transition: 0.3s ease;
}

.iconwhats:hover{
transform: scale(1.2);
transition: 0.3s ease;
}

.info{
    text-align: left;
    font-size:1rem;
    color: #ffffff;
    font-weight: 700; 
    text-decoration: none;
}

