.rodape{
    padding: 2rem;
    padding-inline: 5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.607);
    backdrop-filter: blur(10%);
}

.rodape a{
 color: white;
 text-decoration: none;
}

.icons{
    align-items: center;
    display: flex;
    gap: 2rem;
    
    
}

.icongit{
    width: 50px;
    fill: rgb(255, 255, 255);
   
}
.iconwhats{
    width: 35px;
    
}

.icongit:hover{
transform: scale(1.11);
}

.iconwhats:hover{
transform: scale(1.11);
}

.info{
    text-align: left;
    font-size:1rem;
    color: #ffffff;
    font-weight: 700; 
    text-decoration: none;
}

