.rodape{
    background: linear-gradient(to bottom, #010b19, #0a1c2e);
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: -8px;
   
   
}

.rodape a{
    font-size:1rem;
    color: #ffffff;
    font-weight: 700; 
    text-decoration: none;
    
}


.icongit{
    width: 2rem;
    height: 2rem;
    fill: rgb(255, 255, 255);      /* cor interna */
   
}
.iconwhats{
    width: 2rem;
    height: 1.6rem;
}

.icongit:hover{
transform: scale(1.11);
}

.iconwhats:hover{
transform: scale(1.11);
}

.info{
    text-align: left;
    font-size:1rem;
    color: #ffffff;
    font-weight: 700; 
    text-decoration: none;
}

